.container1{
    background-color: white;
    align-items: center;
}
.navbar{
    background-color: rgb(0, 0, 0);
    color: beige;
    
    
    
    
}
.navbar-brand{
    color: aliceblue;
}
.navbar-toggler{
    color: antiquewhite;
}
.card{
    background-color: azure;
}
#jumbotron{
    background-color: darkgrey;
}
#Cadtitlejumbo{
    color: blue;
}
.nav-link{
    color: antiquewhite;
}
#casa{
    color: antiquewhite;
}
.display-4{
    color: blue;
}
#busqueda{
    color: antiquewhite;
}
.card-footer{
    color: aliceblue;
}